.card {
    width: 160px;
    height: 200px;
    font-size: 32px;
    background: #61dafb;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}